body{
    background: #89ecda;
}

.table li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table li {
    justify-content: space-between;
}